*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;

}
.standard_wrapper {
  max-width: 1425px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 0 90px;
  @include respond(tab-land){
    padding: 0 20px 0 20px;
  }
}