#footer {
  background-color: #000000;
  color: #cccccc;
  padding: 50px 0px 60px 0px;
  p {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .widget {
    &_title {
      color: $color-white;
      margin-top: 10px;
      margin-bottom: 10px;
      border: 0;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0px;
      text-transform: none;
    }
    &_text {
      p {
        display: flex;
        align-items: center;
      }
    }
  }
  .social_wrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    @include respond(tablet) {
      justify-content: center;
    }
    a {
      background: #2d5f9a;
      display: block;
      width: 40px;
      height: 40px;
      color: #fff !important;
      border-radius: 250px;
      line-height: 40px;
      text-align: center;
      svg {
        position: relative;
        top: 5px;
      }
    }
  }
  #footer_bar_wrapper {
    border-color: #222222;
    margin: auto;
    font-size: 13px;
    font-weight: 600;
    color: #cccccc;
    border-top: 1px solid #444;
    padding-top: 20px;
    #copyright {
      float: left;
      font-size: 12px;
      @include respond(tablet) {
    

      }
    }
    #footer_menu {
      display: flex;
      align-items: center;
      gap: 15px;
      float: right;
      @include respond(tablet) {
        float: left;
        gap: 25px;
        margin-bottom: 10px;
   
      }
      font-size: 12px;
      a {
        color: #cccccc;
      }
    }
  }
}
